* {
    margin: 0;
    padding: 0;
}

.playlist-container {
    padding: 0 20px;
}

.playlist-name-holder {
    /* min-width: 100%; */
    text-align: left;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-top: 10px;
}

#playlist-name {
    text-align: left;
    background-color: transparent;
    border-radius: 0;
    color: white;
    font-size: 20px;
    padding-left: 0px;
}