.App {
  text-align: center;
  background-image: url('./background.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: #260046;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30;
  color: white;
  font-style: italic;
}

.App-header #title-center {
  color: #BD85EC;
}

